h2 {
    text-decoration:underline;
}
ul.dash-list {
  list-style-type: none; /* remove default bullet */
  padding-left: 1em;     /* indent items */
}

ul.dash-list li::marker {
  content: '—';          /* em dash */
  color: black;
  font-size: 1em;
}